* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/416/641/original/lgbt-rainbow-flag-vector.jpg");
  background-position: cover;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  background-color: yellow;
}
h1 {
  font-size: 60px;
  font-weight: 700;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: cyan;
  font-size: 20px;
  font-weight: 40;
}
form {
  margin: 50px auto;
  background-color: limegreen;
  padding: 2.5rem;
  border-radius: 5px;
}
p {
  font-size: 15px;
}
input[type="text"] {
  margin: 15px 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 15%;
  border: 5px solid violet;
}
input[type="email"] {
  margin: 15px 0;
  font-size: 20px;
  padding: 5px;
  border-radius: 15%;
  border: 5px solid violet;
}

#comentario {
  width: 99%;
  height: 100px;
  font-size: 1rem;
  color: red;
}

.btn {
  margin-top: 10px;
  max-width: 100%;
  background-position: center;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: turquoise;
  font-weight: 800;
}

input[type="submit"]:hover {
  background-color: purple;
  color: white;
  transition: all 1s;
}

.footer {
  background-color: beige;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
